.button {
  padding: 21px 41px;
  gap: 10px;
  background: #FEDB3F;
  color: #000000;
  border-radius: 100px;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  &--transparent {
    background: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    padding: 21px 16px;

    &:hover {
      background: transparent;
      color: #FEDB3F;
    }
  }
}