.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;

  &:last-child {
    margin-right: 0px;
  }
}

.form__row {
  display: flex;
  margin-bottom: 12px;
}

.form__block {
  flex: 1;
  margin-right: 17px;

  &:last-child {
    margin-right: 0px;
  }
}

.form__title {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.form__input {
  width: 100%;
  padding: 18px 12px;
  border-radius: 4px;
  border: solid 3px transparent;

  &--textarea {
    height: 152px;
    resize: none;
  }

  &:focus {
    border-color: #FEDB3F;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  margin-bottom: 21px;
}

.form__btns {
  margin-top: 33px;
}