.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 22px;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;

  &:last-child {
    margin-right: 0px;
  }
}

.contacts__phone {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
  align-items: center;
}

.contacts__phone-icon-img {
  width: 13px;
  height: 14px;
  margin-right: 5px;
}