.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
    border-radius: 4px;

    &:before {
      background: url("../../img/Vector.png") center center no-repeat;
    }
  }
}
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  position: relative;
  border-radius: 50%;
  margin-right: 10px;

  &:before {
    content: "";
    width: 13px;
    height: 13px;
    background: #FEDB3F;
    position: absolute;
    display: none;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



.radio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-right: 9px;
}